body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/* --- MOBILE --- */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }

  .open-mobile-menu-btn {
    display: block;
    border: none;
    background-color: transparent;
    line-height: 0;
  }

  .open-mobile-menu-icon {
    fill: #2f2f37;
  }

  .top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .close-mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }

  .close-mobile-menu-icon {
    fill: #2e2f42;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-item {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-social-list {
    display: flex;
    gap: 40px;
  }

  .mobile-menu-social-icon {
    fill: #f4f4fd;
  }

  .mobile-menu-social-item {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 0;
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
  }

  .mobile-menu-address-link {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .accent {
    color: #4d5ae5;
  }

  .mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.logo {
  display: block;
  padding: 16px 0;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-logo {
  color: #2e2f42;
}

/* --- TABLET --- */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .open-mobile-menu-btn {
    display: none;
  }

  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: #404bbf;
  margin-top: 20px;
  position: absolute;
  left: 0;
}

.navigation-link:focus,
.navigation-link:hover {
  color: #404bbf;
}

.navigation-link:focus::after,
.navigation-link:hover::after .address {
  display: block;
}

.address-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-link {
  color: #434455;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .address-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
  .logo {
    padding: 24px 0;
    margin-right: 76px;
  }
  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero-section {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/background-image-mobile.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/background-image-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/background-image-tablet.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/background-image-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/background-image-desktop.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/background-image-desktop@2x.jpg);
  }
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 165px;
}

.hero-button {
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.features-icon-list {
  display: none;
}

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding: 0;
}
.features-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 72px;
    padding: 0;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-icon-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .features-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
  }
  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .text {
    font-weight: 400;
  }
}
@media screen and (max-width: 767px) {
  .team {
    max-width: 296px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.name {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-card {
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
}
@media screen and (max-width: 1158px) {
  .overlay {
    display: none;
  }
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #ffffff;
}
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  text-align: start;
}
.product-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item {
  background: var(--WHITE, #fff);
}

.product-preview {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    text-align: start;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0%);
  }
}
/* MOBILE (MAX-WIDTH: 767px) */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}
.footer-info {
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-studio-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social {
  margin-bottom: 72px;
}
.footer-social-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.footer-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-subscribe-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.footer-form-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0, 6;
}
.footer-form-btn {
  width: 165px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-form-button-icon {
  fill: #ffffff;
}
/* TABLET (MIN-WIDTH: 768px) */

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-wrapper {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
  }
  .footer-info {
    width: 264px;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-social {
    margin-bottom: 0;
  }
  .footer-info {
    margin-bottom: 0;
  }
  .footer-social-text {
    text-align: start;
  }
  .footer-subscribe-text {
    text-align: start;
  }
  .footer-form-label {
    width: 264px;
  }
  .footer-social-list {
    margin-bottom: 0;
  }
}
/* DESKTOP (MIN-WIDTH: 1158px) */

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-wrapper {
    display: flex;
    align-items: baseline;
    width: 1158px;
    gap: 0;
    column-gap: 0;
  }
  .footer-info {
    margin-right: 120px;
  }
  .footer-link:hover,
  .footer-link:focus {
    background-color: #31d0aa;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-form-wrap {
    margin-left: auto;
  }
  .footer-form-btn:hover,
  .footer-form-btn:focus {
    background-color: #404bbf;
  }
  .footer-form-input {
    opacity: 1;
  }
  .footer-form-input::placeholder {
    opacity: 1;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-text {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contact-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.contact-form-wrap {
  margin-bottom: 8px;
}

.contact-form-input-wrap {
  position: relative;
}

.contact-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment-wrap {
  margin-bottom: 16px;
}

.contact-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.user-privacy-label {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-checkbox-wrap {
  margin-bottom: 24px;
}

.contact-form-checkbox:checked
  + .user-privacy-label
  > .contact-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.contact-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-btn-close:hover,
  .modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
  .contact-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  .contact-form-input:focus + .contact-form-icon {
    fill: #4d5ae5;
  }
  .contact-form-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  .contact-form-btn:hover,
  .contact-form-btn:focus {
    background-color: #404bbf;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
